  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>ID :{{speakerShowed?._id}} </div>
            <div class="mx-2">Fullname :{{speakerShowed?.fullName}} <img [src]="speakerShowed?.image"> </div>
            <div>Email :{{speakerShowed?.email}}</div>
            Address : <div>City :{{speakerShowed?.address?.city}} </div>
            <div>Street :{{speakerShowed?.address?.street}} </div>
            <div>Building :{{speakerShowed?.address?.building}} </div>
           </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
